<a href="https://colab.research.google.com/github/PedroFrancholi/Analise_de_Dados_e_Tomada_de_Decisoes/blob/main/TDE_2505.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('natacao.csv')

In [4]:
df

,Sede,Ano,Distancia,Estilo,Revesamento?,Genero,Equipe,Atleta,Tempo,Posicao
0,Tokyo,2020,100m,Costas,0,Masculino,ROC,Evgeny Rylov,51.98,1
1,Tokyo,2020,100m,Costas,0,Masculino,ROC,Kliment Kolesnikov,52,2
2,Tokyo,2020,100m,Costas,0,Masculino,USA,Ryan Murphy,52.19,3
3,Tokyo,2020,100m,Costas,0,Masculino,ITA,Thomas Ceccon,52.3,4
4,Tokyo,2020,100m,Costas,0,Masculino,CHN,Jiayu Xu,52.51,4
...,...,...,...,...,...,...,...,...,...,...
4354,Stockholm,1912,4x100,Livre,1,Feminino,SWE,"Greta Carlsson, Vera Thulin, Sonja Johnsson, G...",NaN,5
4355,Stockholm,1912,4x200,Livre,1,Masculino,AUS,"Malcolm Champion, Cecil Healy, Harold H. Hardw...",00:10:11.200000,1
4356,Stockholm,1912,4x200,Livre,1,Masculino,USA,"Duke Paoa Kahanamoku, Harry J. Hebner, Perry M...",00:10:20.200000,2
4357,Stockholm,1912,4x200,Livre,1,Masculino,GBR,"Thomas Sidney Battersby, Henry Taylor, John Ga...",00:10:28.600000,3
4358,Stockholm,1912,4x200,Livre,1,Masculino,GER,"Georg Kunisch, Kurt Bretting, Oscar Schiele, M...",00:10:37.000000,4

1) 
Sede..............Qualitativa Nominal / 
Ano...............Quantitativa Discreta / 
Distancia.........Quantitativa Discreta / 
Estilo............Qualitativa Nominal /
Revesamento.......Quantitativa Discreta /
Genero............Qualitativa Nominal /
Equipe............Qualitativa Nominal /
Atleta............Qualitativa Nominal /
Tempo.............Quantitativa Continua /
Posição...........Quantitativa Discreta

2) Ano - Medida de Variabilidade ->  Porque a quantidade de anos é possivel realizar a mediana / Distância - Medida de Variabilidade ->  Porque a quantidade de anos é possivel realizar a mediana / Tempo - Medida de variabilidade -> É algo que pode variar, não tendo média exata / Posição - Medida de Posiçaõ -> Somente indica uma posição em espeficico

3)

In [63]:
genero = df.loc[df['Genero']=='Masculino']
genero.describe()

               Ano  Revesamento?      Posicao
count  2291.000000   2291.000000  2291.000000
mean   1981.143605      0.173287     3.139241
std      28.310164      0.378578     1.220026
min    1912.000000      0.000000     0.000000
25%    1964.000000      0.000000     2.000000
50%    1984.000000      0.000000     4.000000
75%    2004.000000      0.000000     4.000000
max    2020.000000      1.000000     5.000000

4)

In [74]:
genero = df.loc[df['Genero']=='Feminino']
genero.describe()

               Ano  Revesamento?      Posicao
count  2068.000000   2068.000000  2068.000000
mean   1984.922631      0.165861     3.193424
std      25.167687      0.372046     1.154833
min    1912.000000      0.000000     0.000000
25%    1968.000000      0.000000     2.000000
50%    1988.000000      0.000000     4.000000
75%    2004.000000      0.000000     4.000000
max    2020.000000      1.000000     5.000000

6)

In [55]:
df['Distancia'].replace('100m',100).replace('4x100',400).replace('4x200',800).replace('1500m',1500)

0       100
1       100
2       100
3       100
4       100
       ...
4354    400
4355    800
4356    800
4357    800
4358    800
Name: Distancia, Length: 4359, dtype: object

8) Os tempos após os anos 2000, começaram a ficar estáveis, pois o gráfico começou a ficar com uma linha reta.
A porcentagem da diferença entre o tempo masculino e feminino aparentemente permaneceram constantes após 1970